/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.jumbotron {
    background-image: url(http://lorempixel.com/1800/360/abstract/);
    background-repeat: repeat-x;
    color: #FFF;
    text-shadow: 1px 1px 10px #000;
    h1.whatsnx-logo {
        width: 400px;
        height: 106px;
        background-image: url(../img/whats-nx-logo.png);
        background-size: 400px 106px;
        background-repeat: no-repeat;
        span {
            display: none;
        }
    }
    a {
        color: #fff;
    }
    a.btn{
        text-shadow: none;
    }
}