@import 'jumbotron';
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar-brand {
        width: 95px;
        height: 25px;
        background-image: url(../img/whats-nx-logo.png);
        background-size: 95px 25px;
        background-repeat: no-repeat;
        margin-top: 12px;
        margin-right: 15px;
        span {
            display: none;
        }
}